# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist # Compiled JavaScript (if using TypeScript or Babel build)
/build # Common alternative for compiled output

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.prettierrc.json
.eslintcache
.vscode # VSCode settings and cache
/tmp

# local .env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*